bower_components/
build/
node_modules/
vendor/
!.idea/
.idea/inspectionProfiles/
!.idea/inspectionProfiles/Project_Default.xml
.idea/deployment.xml
.idea/workspace.xml
.vagrant/
.vscode/
!.vscode/launch.json
Thumbs.db
*-error.log
.DS_Store
